<ion-header>
  <ion-toolbar>
    <ion-title>{{"tasks.data" |translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
    <ion-item>
      <ion-label position="floating"> {{"attributes.name" |translate}} </ion-label>
      <ion-input
      type="text"
      placeholder="Introduce tu nombre"
      formControlName="name"
      ></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating"> {{"attributes.time_in_seconds" |translate}}  </ion-label>
      <ion-input
      type="number"
      placeholder="Introduce tus apellidos"
      formControlName="timeInSeconds"
      ></ion-input>
    </ion-item>

    
    <ion-item>
      <ion-label position="floating"> {{"attributes.description" |translate}}  </ion-label>
      <ion-input
      type="text"
      placeholder="Introduce tu mote"
      formControlName="description"
      ></ion-input>
    </ion-item>

    <!-- <ion-item>
      <ion-label position="floating"> Edad </ion-label>
      <ion-input
      type="number"
      placeholder="Introduce tu edad"
      formControlName="age"
      ></ion-input>
    </ion-item> -->

    <ion-button [disabled]="!form.valid" type="submit">{{(mode=="Edit"?"generics.modify" :"generics.add") |translate}}</ion-button> 
    <!-- Submit del modal -->
    <!-- (click)="createPerson()" -->
  </form>
</ion-content>
  