<ion-header>
  <ion-toolbar>
    <ion-title>Datos de la tarea</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>Formulario {{mode=="Edit"?"edición":"creación"}} de una tarea</ion-item>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
    <ion-item>
      <ion-label position="floating"> Nombre </ion-label>
      <ion-input
      type="text"
      placeholder="Introduce tu nombre"
      formControlName="name"
      ></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating"> Tiempo en segundos </ion-label>
      <ion-input
      type="number"
      placeholder="Introduce tus apellidos"
      formControlName="timeInSeconds"
      ></ion-input>
    </ion-item>

    
    <ion-item>
      <ion-label position="floating"> Descripción </ion-label>
      <ion-input
      type="text"
      placeholder="Introduce tu mote"
      formControlName="description"
      ></ion-input>
    </ion-item>

    <!-- <ion-item>
      <ion-label position="floating"> Edad </ion-label>
      <ion-input
      type="number"
      placeholder="Introduce tu edad"
      formControlName="age"
      ></ion-input>
    </ion-item> -->

    <ion-button [disabled]="!form.valid" type="submit">{{mode=="Edit"?"Modificar":"Añadir"}}</ion-button> 
    <!-- Submit del modal -->
    <!-- (click)="createPerson()" -->
  </form>
</ion-content>
  